.light {
    --background-color: white;
    --color: black;
}

.dark {
    --background-color: black;
    --color: white;
}

body {
    background-color: var(--background-color);
    color: var(--color);
    font-family: 'Pretendard', sans-serif;
    margin: 0;
    height: 100vh;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.horizontal-whitespace {
    flex: 1;
}

.container {
    display: flex;
}

.vertical-whitespace {
    flex: 1;
}

.date {
    text-align: center;
}

.clock-big {
    font-size: 10rem;
    display: inline-block;
}

#clock-hour {
    font-weight: bold;
}

#clock-minute {
    font-weight: lighter;
}

.clock-small {
    font-family: monospace;
    font-size: 2rem;
    display: inline-block;
}